/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 16px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	max-width: 960px;
	margin: 0 auto;
	background: #0000fe;
    font-family: Frutiger, "Frutiger Linotype", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
	background: #000034;
	text-align: center;
}

nav ul li{
	background: #FFCC33;
	transition: background-color 0.15s ease;
}

nav li:hover {
	background-color: #e6b82e;
}

.banner {
  overflow:hidden;
}

.banner h1 {
  background-image: url("../img/KK28Banner.png");
  height: 226px;
  width: 960px;
  display: inline-block;
  vertical-align: middle;
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin: 0;
}

.content {
	text-align: left;
    color: #ddd59c;
}

.content a {
  color: #ff9933;
}

article {
  border-bottom: 1px white solid;
}

section:last-of-type article:last-of-type {
	border-bottom: 0;
}

section:last-of-type {
  margin-bottom: 1rem;
}

aside {
  background: #01009a;
}

footer {
  background: #dbdada;
  font-size: small;
}

h1 {
  font-family: GiddyupStd;
  font-weight: normal;
}

h1#homedates {
  color: #ff9933;
  text-shadow: -0.3rem 0.2rem .1rem black;
}

.content h1 {
  font-size: 4rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.googleform {
  text-align: center;
}

.googleform iframe {
  max-width: 100%;
}

article.paypal {
  text-align: center;
}

article.paypal form table{
  margin: 0 auto;
}

.testimonial{
  background: rgba(198,198,198,.35);
  border: 1rem solid #000034;
  padding: 1rem;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.testifier {
  text-align: center;
  font-style: italic;
}
.testimonial .quotation {
	text-align: justify;
}

.avatar {
  margin-bottom: .5rem;
  max-width: 100%;
}

.kommitteeposition h2 {
  height: 3em;
}

.kommitteeposition .avatar {
	width: 100%;
}

.team_row:last-of-type > span {
  padding-bottom:20px;
}

table {
  text-align: center;
  font-size: smaller;
}

th {
  border-bottom: white solid 1px;
}

tr:nth-child(even) {
  background: #918266;
}

table span.semester {
  font-style: italic;
}

dt {
	font-weight: bold;
}

.allcaps {
	text-transform: uppercase;
}

blockquote {
	white-space: pre;
}

img.map {
	max-width:100%;
}

iframe#twitter-widget-0 {
  margin-top: 1rem;
}

div.carousel {
	text-align: center;
}

/* Styles for lead image carousel */
div.carousel#lead > div{
  width: 200px;
  height: 133px;
}
.carousel #lead_01 {background: url(../img/image_01_133.jpg) no-repeat left center;}
.carousel #lead_02 {background: url(../img/image_02_133.jpg) no-repeat left center;}
.carousel #lead_03 {background: url(../img/image_03_133.jpg) no-repeat left center;}
.carousel #lead_04 {background: url(../img/image_04_133.jpg) no-repeat left center;}
.carousel #lead_05 {background: url(../img/image_05_133.jpg) no-repeat left center;}
.carousel #lead_06 {background: url(../img/image_06_133.jpg) no-repeat left center;}
.carousel #lead_07 {background: url(../img/image_07_133.jpg) no-repeat left center;}
.carousel #lead_08 {background: url(../img/image_08_133.jpg) no-repeat left center;}

.carousel #lead_10 {background: url(../img/image_10_133.jpg) no-repeat left center;}
.carousel #lead_11 {background: url(../img/image_11_133.jpg) no-repeat left center;}
.carousel #lead_12 {background: url(../img/image_12_133.jpg) no-repeat left center;}

.carousel #lead_14 {background: url(../img/image_14_133.jpg) no-repeat left center;}
.carousel #lead_15 {background: url(../img/image_15_133.jpg) no-repeat left center;}
.carousel #lead_16 {background: url(../img/image_16_133.jpg) no-repeat left center;}
.carousel #lead_17 {background: url(../img/image_17_133.jpg) no-repeat left center;}
.carousel #lead_18 {background: url(../img/image_18_133.jpg) no-repeat left center;}
.carousel #lead_19 {background: url(../img/image_19_133.jpg) no-repeat left center;}
.carousel #lead_20 {background: url(../img/image_20_133.jpg) no-repeat left center;}
.carousel #lead_21 {background: url(../img/image_21_133.jpg) no-repeat left center;}
.carousel #lead_22 {background: url(../img/image_22_133.jpg) no-repeat left center;}
.carousel #lead_24 {background: url(../img/image_24_133.jpg) no-repeat left center;}
.carousel #lead_25 {background: url(../img/image_25_133.jpg) no-repeat left center;}
.carousel #lead_26 {background: url(../img/image_26_133.jpg) no-repeat left center;}
.carousel #lead_27 {background: url(../img/image_27_133.jpg) no-repeat left center;}
.carousel #lead_28 {background: url(../img/image_28_133.jpg) no-repeat left center;}
.carousel #lead_29 {background: url(../img/image_29_133.jpg) no-repeat left center;}
.carousel #lead_30 {background: url(../img/image_30_133.jpg) no-repeat left center;}
.carousel #lead_31 {background: url(../img/image_31_133.jpg) no-repeat left center;}
.carousel #lead_32 {background: url(../img/image_32_133.jpg) no-repeat left center;}
.carousel #lead_33 {background: url(../img/image_33_133.jpg) no-repeat left center;}
.carousel #lead_34 {background: url(../img/image_34_133.jpg) no-repeat left center;}
.carousel #lead_36 {background: url(../img/image_36_133.jpg) no-repeat left center;}

/* Styles for foot/side notes */
a.notesymbol {
	text-decoration: none;
	margin-left: -2px;
}
.notecontainer p {
	font-size: smaller;
}
a.notebacklink {
	font-style: italic;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (max-width: 35rem) {
  html {
    font-size: 1.15em;
  }
  .content h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  .banner h1 {
    background-image: url("../img/KK28Banner.png");
    height: 83px;
    width: 226px;
    display: inline-block;
    vertical-align: middle;
    background-size: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0;
  }
  .carousel#lead {
    display: none;
  }
  .carousel#lead > div {
    background-image: none;
  }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
