/* 
    Document   : nav
    Created on : Oct 12, 2013, 9:22 PM
    Author     : kcmckell
    Description:
        Styling for the common navigation bar.
*/

#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav a {
	display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 3em;
}
#nav li {
	float: left;
    line-height: 3em;
}

#nav>li {
  width: 14%;
  border-right: 1px white solid;
}

ul#nav>li:last-of-type { 
   /*
    This is the filler for the rest of the bar.  
    Adjust if/when the number of nav elements changes. 
  */
  width: 16%;
  border-right: 0px white solid;
}

#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
}

#nav li ul li {
  width: 10em;
  border-top: 1px white solid;
}

#nav, #nav ul {
	padding: 0;
	margin: 0;
	list-style: none; 
	line-height: 1;
}

#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
}

nav select {display:none;}

@media screen and (max-width: 45em) {
  nav ul {display: none;}
  nav select {
    display: block;
    width:100%;
    font-size: 1rem;
  }
/*  Don't really like the word "Menu" showing up.  Could replace it with an icon in the future.*/
/*  nav:after {
    position: absolute;
    content: "Menu";
    right: 0;
    bottom: -1em;
  }*/
}