[submodule "build"]
	path = build
	url = git@github.com:kcmckell/ant-build-script.git
[submodule "js/conditional/REM-unit-polyfill"]
	path = js/conditional/REM-unit-polyfill
	url = https://github.com/kcmckell/REM-unit-polyfill.git 
[submodule "js/unsemantic"]
	path = js/unsemantic
	url = https://github.com/kcmckell/unsemantic.git
